<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login-form">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="button" onclick="submitForm()">Login</button>
    </form>
    
    <script>
        function submitForm() {
            const form = document.getElementById("login-form");
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.msg === "Autenticado com sucesso") {
                    // Armazenar o token JWT no localStorage
                    localStorage.setItem('token', data.token);

                    // Redirecionar para a página principal
                    window.location.href = '/home';
                } else {
                    // Exibir mensagem de erro
                    alert(data.msg);
                }
            });
        }
    </script>
</body>
</html>